Source: location-ui
Priority: optional
Maintainer: Ivan J. <parazyd@dyne.org>
Build-Depends:
 debhelper (>= 10),
 libdbus-1-dev,
 libhildon1-dev,
 libgtk+2.0-dev,
 libglib2.0-dev,
 libdbus-glib-1-dev,
 maemo-launcher-dev,

Package: location-ui
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 osso-connectivity-ui-l10n-mr0,
 osso-location-ui-l10n-mr0
 hildon-libs-l10n-mr0,
 maemo-launcher,
Description: Location UI
 User interface dialogs etc. related to location framework.
